
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #daebf3;
}

.nav-container {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #0073e6;
    z-index: 100;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
}

.icon {
    font-size: 30px;
    color: white;
    display: none;
}

@media screen and (max-width: 600px) {
    .icon {
        display: block;
    }

    nav a {
        display: none;
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    nav.responsive a {
        display: block;
    }
}

@media (min-width: 600px) {
    .college-image {
        max-width: 80%;
    }

    nav a {
        display: inline-block;
    }
}
